<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="WellSky-PreRelease" value="https://pkgs.dev.azure.com/mediwareis/_packaging/WellSky-PreRelease/nuget/v3/index.json" />
        <add key="WellSky-Release" value="https://pkgs.dev.azure.com/mediwareis/_packaging/WellSky-Release/nuget/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <WellSky-PreRelease>
            <add key="Username" value="AzureArtifacts-WellSky-ReadOnly" />
            <add key="ClearTextPassword" value="ss5hhjivvjpujol7k7peiufhxhrlq6cf7wv7ugqtbsk2dxljfvla" />
        </WellSky-PreRelease>
        <WellSky-Release>
            <add key="Username" value="AzureArtifacts-WellSky-ReadOnly" />
            <add key="ClearTextPassword" value="ss5hhjivvjpujol7k7peiufhxhrlq6cf7wv7ugqtbsk2dxljfvla" />
        </WellSky-Release>
    </packageSourceCredentials> 
</configuration>
